.gallery-title
{
    font-size: 36px;
    color:#264E86;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    border-bottom: 2px gainsboro solid;
    margin: 20px;
    padding: 10px;
}


footer{
	margin-top: 20px;
}

.mi{
	color:#264E86;
}

.btn{
color:#0074E4;
}

input:invalid {
 
border: 1px solid red;
}